@model ChatWeb.Models.ViewModels.RegisterViewModel;
@{
    ViewData["Title"] = "Registro";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
    
<h2>@ViewBag.Title</h2>
<form action="~/Home/Register" method="post">
    <div class="row">
        <div class="col">
            @Html.LabelFor(d => d.Name)
            @Html.TextBoxFor(d => d.Name, "", new { @class="form-control" })
            @Html.ValidationMessageFor(d => d.Name, "", new { @class="text-danger" })<br />

            @Html.LabelFor(d => d.Email)
            @Html.TextBoxFor(d => d.Email, "", new { @class="form-control" })
            @Html.ValidationMessageFor(d => d.Email, "", new { @class="text-danger" })<br />
            
            @Html.LabelFor(d => d.Password)
            @Html.PasswordFor(d => d.Password, new { @class="form-control" })
            @Html.ValidationMessageFor(d => d.Password, "", new { @class="text-danger" })<br />

            @Html.LabelFor(d => d.Password2)
            @Html.PasswordFor(d => d.Password2, new { @class="form-control" })
            @Html.ValidationMessageFor(d => d.Password2, "", new { @class="text-danger" })<br />

            <input type="submit" value="Guardar">
        </div>
    </div>
</form>
