@model List<UtilitiesChat.Models.WS.ListRoomsResponse>;

@{
    ViewData["Title"] = "Lobby Page";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-12">
        @foreach (var item in Model)
        {
            <div>
                @item.name<br />
                @item.description<br />
                <div style="text-align:center;">
                    <button onclick="jsGo(@item.id);">Ir a la sala</button>
                </div>
            </div>
        }
    </div>
</div>

<script>
    function jsGo(idRoom) {
        document.location.href = "@Url.Content("~/chat/Messages")" + "?id=" + idRoom;
    }
</script>