@model List<UtilitiesChat.Models.WS.ListRoomsResponse>;

@{
    ViewData["Title"] = "Lobby Page";
}

<h2>@ViewBag.misesion</h2>
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-12">
        @foreach (var item in Model)
        {
            <div>
                @item.Name<br />
                @item.Description<br />
                <div style="text-align:center;">
                    <button onclick="jsGo(@item.Id);">Ir a la sala</button>
                </div>
            </div>
        }
    </div>
</div>

<script>
    function jsGo(idRoom) {
        alert(idRoom);
    }
</script>